
@font-face {
  font-family: JohnR;
  src: url(./ClashDisplay-Bold.otf);
  font-weight: bold;
  
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  border: none;


}

body {
  background-color:#ffffff; 
 

}
.main{
  display:grid;
  height: 100dvh;
  grid-template-columns: 500px repeat(1, 1fr);

}
.Visuals{
  padding: 1.5rem;

  background: linear-gradient(to bottom, #001900, #070803cb);


  
}
.sign-up-cont{
  padding: 1rem;
   display: flex;
   align-items:center;
   background: radial-gradient(circle, #001900, #666600);
   justify-content: center;
   padding-bottom: 0;
   padding-top: 0.2rem;


}
.logo a{
  text-decoration: none;
}

.logo h2{
  font-size: 1.2rem;
  text-decoration: none;
  color: #fcfcfc;
  text-transform: uppercase;
   letter-spacing: 5px;
   font-weight: bold;
   text-shadow: 1px 2px 1px #8cb617;

 }
 .logo h2:hover {
   animation: shake 0.5s linear infinite;
 }
 @keyframes shake {
   0% { transform: translateX(0); }
   25% { transform: translateX(-5px) rotate(2deg); }
   50% { transform: translateX(5px) rotate(-2deg); }
   75% { transform: translateX(-5px) rotate(2deg); }
   100% { transform: translateX(5px) rotate(-2deg); }
 }

 .Graphics{
  height: 85dvh;
  display: flex;
  align-items: center;
  padding: 1rem;
  
 }
 .Graphics img{
  width:100%;

 }


.sign-up{

  width: 42dvw;
  height: 470px;
  background-color: #fcfcfc;
  /* background-color: transparent; */
  padding:1rem;
  border-radius: 0.6rem;
  box-shadow:0 0 8px rgba(0, 0, 0, 0.2);
  height: 95dvh;
  padding-bottom: 0;
 


 
}
.Gt-logo h2{
  text-decoration: none;
  color: #001900;
  padding-bottom:0.6rem;
  text-align: center;
  font-size: 1.5rem;


}

#signup-form{
  padding-bottom: 0;
}


.form-group {
  margin-bottom: 0.5rem;
}
.form-group label {
  display: block;
  text-align: left;
  margin-bottom:0.4rem;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.form-group input::placeholder{
  color: #6666;
  font-size: 0.9rem;
}
form p {
  margin-top: 0.5rem;
  color: #000000;

}
span a{
  text-decoration: none;
  font-family: 700;
}

#sign-up-button{
  width: 49%;
  padding: 10px;
  background-color: #001900;
  color: #ffffff;
  border: none;
  border-radius: 0.24rem;
  cursor: pointer;

}
#sign-up-button:hover{
  opacity: .8;
}


.sign-up-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  
  flex-direction: column;
  padding-top: 1rem;
  padding-bottom: 0;
}


.Forget-password{
  margin-top: 0.6rem;
  cursor: pointer;

}

.Warning , .WarningP{
  color: red;
  margin: 10px 0;
  font-size: 1rem;
  font-style: italic;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#empty-field-alert{
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px; 
  background-color: #1b582d; 
  color: #ffffff;
  text-align: center;
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 84%; 
  top: 30px;
  
}

/* Show the snackbar when clicking on a button */
#empty-field-alert.show {
  visibility: visible; 


  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

@keyframes fadeout {
  from {top: 30px; opacity: 1;}
  to {top: 0; opacity: 0;}
}

/* Media Query  Tables*/
@media only screen and (min-width: 600px ) and (max-width:820px)  {

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    border: none;
  
  
  }
  
  body {
    background-color:#ffffff;
   
    text-align: center;
   
  
  }
  .container {
    margin: 0;
    height: 100dvh;
    
    
    max-width:100dvw;
    background-color: #fff;
    padding:2rem;
    border-radius: 0rem;
    box-shadow:inset 0 0 9px rgba(0, 0, 0, 0.2);
  }
  .Gt-logo a{
    text-decoration: none;
    color: #001900;
  
  
  }
  
  
  #signup-form{
    margin-top: 1rem;
  }
  
  
  .form-group {
    margin-bottom: 1.3rem;
  }
  .form-group label {
    display: block;
    text-align: left;
    margin-bottom:0.4rem;
  }
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  form p {
    margin-top: 0.5rem;
    color: #000000;
  
  }
  span a{
    text-decoration: none;
    font-family: 700;
  }
  
  #sign-up-button , #sign-in-button{
    width: 48%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 0.24rem;
    cursor: pointer;
  
  }

  .Forget-password{
    margin-top: 0.6rem;
    cursor: pointer;
  
  }
 

  


  
  
 
  
  
  
  
  
 
  }

  /* Mobile */
@media only screen and (max-width: 599px) {

  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Raleway', sans-serif;
    border: none;
  
  
  }
  
  body {
    background-color:#ffffff;
   
    text-align: center;
   
  
  }
  .container {
    margin: 0;
    height: 100dvh;
    
    
    max-width:100dvw;
    background-color: #fff;
    padding:2rem;
    border-radius: 0rem;
    box-shadow:inset 0 0 9px rgba(0, 0, 0, 0.2);
  }
  .Gt-logo a{
    text-decoration: none;
    color: #001900;
  
  
  }
  
  
  #signup-form{
    margin-top: 1rem;
  }
  
  
  .form-group {
    margin-bottom: 1.3rem;
  }
  .form-group label {
    display: block;
    text-align: left;
    margin-bottom:0.4rem;
  }
  .form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  form p {
    margin-top: 0.5rem;
    color: #000000;
  
  }
  span a{
    text-decoration: none;
    font-family: 700;
  }
  
  #sign-up-button , #sign-in-button{
    width: 48%;
    padding: 10px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    border-radius: 0.24rem;
    cursor: pointer;
  
  }

  .Forget-password{
    margin-top: 0.6rem;
    cursor: pointer;
  
  }
 




  









}





  
  
  
  
  
    
  
  
  
  
  
  
  
  
  
  