
@font-face {
  font-family: 'ClashDisplay';
  src: url(./Fonts/ClashDisplay-Bold.otf);
  font-weight: bold;

}
@font-face {
  font-family: 'ClashDisplay';
  src: url(./Fonts/ClashDisplay-Regular.otf);
  font-weight:normal;

}






*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  /* font-family: 'ClashDisplay'; */
  border: none;


}
ul{
  color:red
}

body{
  height: 100dvh;
  scroll-behavior: smooth;
  /* width: 100dw; */
 
  
}
/* Nav Styles */

.Header{
  display: flex;
  background-color:#001900;
  align-items: center;
  justify-content:space-between;
  position:fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;  
  border-bottom: 1px solid #ffffff;
  /* width: 100dvw; */
  

}

.Logo, h2{
 font-size: 2rem;
 text-decoration: none;
 color: #fcfcfc;
 box-shadow: 1px 1px 1px 1px rgba(193, 230, 123, 0.1);
 transition: all .2s ease-in-out;

 
 
}
.search-bar{
  margin-left:1rem;
  display: flex;
  align-items: center;
  
}
.Searchbar {
  padding: 0.37rem 8rem;
  border-top-left-radius: 1.1rem;
  border-bottom-left-radius: 1.1rem;
  border: 0;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.20);
  outline:none;
  text-align: start;
 



 
}
.Searchbar::placeholder{
  font-size: 1rem;
  font-family: 'Raleway', sans-serif;
  color: #6666;
  text-align: center;
}
.search-button{
  padding:0.41em 0.9em;
  background-color:#666600;
  font-weight: bold;
  border: 0;
  border-top-right-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 1s;

}
.search-button:hover{

  background-color:#42420e;
}
.search-button span{
  color: #ffffff;
  font-size: 1.5rem;
}

.search-results{
  background-color: #fcfcfc;
  border: 1px solid #6666;
  border-radius: 5px;
  width: 40rem;
  color: #000000;
  display: none;
  padding: 1rem;
  position: absolute;
  z-index: 200;
  left: 20%;

  top: 5rem;




}
#search-results-list{
  color:#000000;
}

#search-results-list a{
  text-decoration: none;
  color: #000000;
  font-size: 1rem;
  font-weight: 700;
  transition: color 1s;
}
#search-results-list a:hover{
  color: rgb(104, 104, 202);
}

.Nav-Link-cont{
  display: flex;
  align-items: center;
  justify-content:space-evenly;
 

}

.Nav-links a ,.Nav-Link-cont a{
  color:#ffffff;
  font-size: 1.3rem;
  text-decoration: none;
  margin-left: 1.7rem;
  font-weight:300;
}
.Nav-links a:hover , .Nav-Link-cont a:hover{
  color: #666666;
}
.BookMarks{
  display: flex;
  align-items: center;
  justify-content: center;

}



.Get-Started{
  margin-left: 0.9rem;
 
  
}
.Get-Started button{
  padding: 0.1rem 1.3rem;
  background-color:#666600;
  color: #ffffff;
  font-weight: 500;
  border: 0;
  border-radius: 0.5rem;
  white-space: nowrap;
  transition: color 1s;
  transition: background-color 1s;
  

}
.Get-Started1 button {
  padding: 0.4rem 2rem;
  background-color:#666600;
  color: #ffffff;
  font-weight: 500;
  border: 0;
  border-radius: 0.5rem;
  white-space: nowrap;
  transition: color 1s;
  transition: background-color 1s;

}
.Get-Started button:hover,.Get-Started1 button:hover{
  color:#000000;
  background-color: #a3a355;
}
/* Tag Line Styles */
.TagLine-cont{
  display: flex;
  padding-top:5rem;
  background-color: #001900;
  justify-content: center;
  align-items: center;
  
}
.TagLine-Texts{
  margin-left: 1rem;
  width: 100%;
  padding-left: 1rem;

}
.TagLine-Texts h1 , h3 {
  color: #ffffff;
  font-weight:450;
  font-size: 1.9rem;

 
}
.TagLine-Texts h1{
  font-style: italic;
  font-size: 2.5rem;
  box-shadow: 1px 1px 1px 1px rgba(193, 230, 123, 0.1);
  width: fit-content;
  padding: 0.3rem;
  transition: all .2s ease-in-out;
}
 .Get-Started1{
  margin-top: 2rem;

} 


.TagLine-img {
  display: flex;
  justify-content: center;
  padding-bottom: 0.3rem;
  width: 100%;
  
}
.TagLine-img img{
   width: 36dvw;
}

/* Trending Post styles */

.TP-Heading{
  display: flex;
  align-items: center;

}
.TPH-Text h2{
  color:#000000;
  font-size:1.5em;

}
.Trendings-cont{

  padding: 1rem;
   display:grid;
  grid-template-columns: 1fr 1fr;
  row-gap:3%;

  /* grid-template-columns: repeat(auto-fit,39.2rem);
  row-gap: 2%; */
  
 
  

  

}
.Trendings-Posts{
  display: flex;
  align-items: center;
  border:1px solid lightgrey;
  border-radius: 0.2rem;
  width: fit-content;
  box-shadow: 2px 2px 1px 2px rgba(153, 135, 135, 0.1);
}

.TP-counter{
  
  padding:0 0.6rem ;
}
.TP-counter h1 {
  font-weight:700;
  font-style: italic;
  color: #666666;
}
.TP-Title{
width: 450px;
padding: 0 0.4rem;
cursor: pointer;

}
.TP-Title h3:hover{
  color: #6666;
}

.TP-Title h3{
  font-size: 1rem;
  color: #000000;
  font-weight: 700;
  width:100%;
  transition: color 1s;

}
.TP-visuals{
  width:8rem;
  padding: 0.4rem;

}
.TP-visuals img{
  width: 100%;
  border-radius:0.3rem;
  cursor: pointer;
  height: 4.4rem;

  
}



.Trending-Post{
  display: flex;
  align-content: center;
  justify-content: center;
  border: 1px solid lightgrey;
  

 

  
 
 
}


/* Recent-Posts styles */

.Recent-Posts-Cont{
  display:grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 45px;
  column-gap: 3%;
  padding-left:2.2rem ;
  

}
 .Recent-Post{
  border-bottom: 1px solid lightgray;


  width: 36.5dvw;
  height:100%;

} 
.RP-visual,.RP-Title{
  width: 36.3dvw;
 
}
.RP-Title{
  width: 36.3dvw;
  height:70px;

}
.RP-visual img{
  width: 100%;
  height: 23rem;
  object-fit:fill;
  box-shadow: 2px 2px 2px 2px rgba(153, 135, 135, 0.3);
  
}




.RP-Title h2{
  color: #000000;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0;
  /* white-space: nowrap; */
  cursor: pointer;
  transition: color 1s;

  
}
.RP-Title h2:hover{
  color:#6666;
}
  .RP-excerpt{
  width: 36.2dvw;
  height: 112px;



}  
.RP-excerpt p{
  color:#000000;
  width:100%;
  margin-bottom: 0;


}

.R-P-Author{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 36dvw;

  
}
.R-P-Author p{
  color: #000000;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 0;
  transition: color 1s;
  
}


.Post-Category{

  font-style: italic;
  color: #001900;
  font-size: 0.9rem;
  transition: color 1s;

}
.Post-Category:hover , .R-P-Author p:hover{
  color:#b4dbb4;
}

.R-P-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  width: 36dvw;
}
.comments{
  display: flex;
  text-align: center;
  text-align: center;
 
}

.comments span{
  margin-left: 0.3rem;
}
.material-symbols-outlined{
  color:#000000;

  cursor: pointer;
}
#Like{
  border-radius: 50%;
  transition: background-color
   1s;
   padding: 0;
   margin-left:0.55rem;
   transition: color 1s;
}
#Like:hover{
  color: rgb(218, 126, 126);
  
}

.bookmark:hover{

  color:#666666;
 

}

.bookmark:active{
  background-color: #000000;
  
  border-radius: 50%;
  
  }

.bookmark:active{
  color: #b62700;
}







/* Footer styles*/

.Footer-cont{
  border: 1px solid #666600;
  background-color: #001900;

 
}
.Footer-cont h2{
  font-size: 2rem;
  font-weight: 300;
  color: #ffffff;
  width: fit-content;
}
.Footers-links{
  display: flex;
  align-items: center;
  justify-content: center;
}
.Footers-links a{
  color: #ffffff;
  padding: 0.5rem;
  font-weight: 500;
  transition: color 1s;
  text-decoration: none;
 

}
.Footers-links a:hover{
  color: #666600;

}
.Footers-icons{
  display:flex;
  align-items: center;
  justify-content: end;
  
}


.F-icon{
  border: 1px solid #ffffff;
  margin-left:3px;
  border-radius: 50%;
  padding: 0.3rem;
}
.F-icon img{
  width:2.5rem;
  cursor: pointer;
  object-fit: fill;
}
.Footer-cont h5{
  color: #ffffff;
  font-size: 0.8rem;
}


/* styles for when a user sign in */
.red{
  font-size: 1.2rem;
  color: #ffffff;
  margin-left: 5px;
}

.logout{
  color: #ffffff;
  cursor: pointer;
  padding: 5px;
  background-color: #001900;
  border: 2px solid rgb(209, 199, 199);
 
}
.logout:hover{
 
  color: #b62700;
}

#So{
  display: none;
}

/* The snackbar - position it at the bottom and in the middle of the screen */
#empty-field-alert{
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px;
  margin-left: -125px; 
  background-color: #666600; 
  color:#ffffff;
  font-weight: 700;
  text-align: center;
  border-radius: 2px; 
  padding: 16px; 
  position: fixed; 
  z-index: 1; 
  left: 50%; 
  bottom: 2rem;
  
}

/* Show the snackbar when clicking on a button */
#empty-field-alert.show {
  visibility: visible; 

  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

.cs{
  color:#000000;
  transition: color 1s;
 
}
.cs:hover{
  color:#a0a0c5;
}
.comment-section{
  display: none;
}
.comment-section input{
  border: 1px solid #666666;
  padding: 0.9rem 2rem;

}
.comment-section input::placeholder{
  text-align: center;
}
/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom:2rem; opacity: 1;}
}

@keyframes fadein {
  from {bottom: 0; opacity: 0;}
  to {bottom:2rem; opacity: 1;}
}

@-webkit-keyframes fadeout {
  from {bottom: 2rem; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
  from {bottom: 2rem; opacity: 1;}
  to {bottom: 0; opacity: 0;}
}














/* Media Query  Tables*/
@media only screen and (min-width: 600px ) and (max-width:820px)  {

.Header{
  display: flex;
  background-color:#001900;
  align-items: center;
  justify-content:space-between; 
  position:fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 100;  
  border-bottom: 1px solid #ffffff;
  width:100dvw;
  
}


 .Searchbar {
  padding: 0.38rem 2.7rem;
  border-top-left-radius: 1.1rem;
  border-bottom-left-radius: 1.1rem;
  border: 0;
  box-shadow: inset 1px 2px 3px rgba(0, 0, 0, 0.20);
  outline:none;

}

.search-button{
  padding:0.41em 0.4em;
  background-color:#666600;
  color: #ffffff;
  font-weight: bold;
  border: 0;
  border-top-right-radius: 1.1rem;
  border-bottom-right-radius: 1.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  
 
 
} 

.TagLine-cont{
  display: flex;
  padding-top:5.5rem;
  background-color: #001900;
  justify-content: center;
  align-items: center;
  
}


  .Nav-links a{
    display: none; 
  }
  .L-and-s{
    display: flex;
    justify-content: space-between;
    
 

  }

  .Trendings-cont{

    /* display: grid;
    grid-template-columns: 1fr;
  row-gap: 1%;  */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  }
  .Footers-links a{
    padding: 0;
    font-size: 0.9rem;
    
  }
  .Get-Started button{
    padding: 0.3rem 1rem;
    background-color:#666600;
    color: #ffffff;
    font-weight: bold;
    border: 0;
    border-radius: 0.5rem;
    white-space: nowrap;

  
  }
  

   

.Footers-links a{
  padding: 0;
  font-size: 0.9rem;
  
}



 
}


/* Mobile */
@media only screen and (max-width: 599px) {
  *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
  
  .Header{
    display: flex;
    background-color:#001900;
    align-items: center;
    justify-content:space-between; 
    position:fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 100;  
    border-bottom: 1px solid #ffffff;
    width:100dvw;
  
 
     
  }

  .Nav-Link-cont{
    align-items: center;
  
  }

  .TagLine-Texts{
    margin-left: 1rem;
    width: 100%;
  padding: 0;
  
  }
  .logo h2{
    font-size: 1em;
    text-decoration: none;
    color: #ffffff;
   
   }
   .TagLine-Texts h1  h3 {
    color: #ffffff;
    font-weight:400;
    font-size: 0.8rem;
   
  }
  .TagLine-Texts h1{
    font-style: italic;
    font-size: 1rem;
    box-shadow: 1px 1px 1px 1px rgba(193, 230, 123, 0.1);
    width: fit-content;
    padding: 0.3rem;
    transition: all .2s ease-in-out;
  }

   .RP-visual, .RP-Title , .RP-excerpt{
    width: 100%;
    padding: 1rem;
    
   
  }
    


  .Get-Started1{
    display: none;
    margin-left: 0;
  }
  
  .search-bar{
    display: none;
  }

  .Nav-links a{
    display: none; 
  }
 
   .Get-Started button ,.Get-Started1 button{
    padding: 0.1rem 0.5rem;
    background-color:#666600;
    color: #ffffff;
    font-weight: 500;
    border: 0;
    border-radius: 0.5rem;
    white-space: nowrap;
    font-size: 0.9rem;

  
  }
  .TagLine-cont{
    padding-bottom: 1rem;
  }


  .TagLine-img img {
   width: 100%;
}
.TagLine-Texts h1,h3{
  width: 100%;
  font-size: 1.2em;
}
.TagLine-cont{
  padding-top: 6rem;
}

.TPH-Text h2{
  color:#000000;
  font-size:1.2em;

}

.TP-counter{
  
  padding:0 0.6rem ;
}


.Trendings-cont{

  display: grid;
  grid-template-columns: 1fr ;
row-gap: 8px;
width:100dvw;

  
}

.TP-counter{
  
  padding:0 0.4rem ;
}
.TP-counter h1 {
  font-weight:700;
  font-style: italic;
  color: #666666;
  font-size: 1.3rem;
}

.TP-Title{
  width: 600px;
  padding: 0 0.2rem;
  cursor: pointer;
  
  }
  .TP-Title h3:hover{
    color: #6666;
  }
  
  .TP-Title h3{
    font-size: 1rem;
    color: #000000;
    font-weight:600;
    width:100%;
    transition: color 1s;
  
  }

  .TP-visuals img{
    width: 100%;
    border-radius:0.3rem;
    cursor: pointer;
    height: 6rem;
  
    
  }


.Trendings-Posts{
  display: flex;
  align-items: center;
  border:1px solid #6666;
  border-radius: 0.2rem;
  max-width: min-content;
  box-shadow: 2px 2px 1px 2px rgba(153, 135, 135, 0.1);

}

.TP-Title {
  width:50dvw;
  
}
.TP-visuals{
  width:30dvw;
  
}

.RP-Title h2{
  color: #000000;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0;
  /* white-space: nowrap; */
  cursor: pointer;
  transition: color 1s;

  
}


.Recent-Posts-Cont{

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

 padding: 0;

}

.RP-visual img{
  width: 100%;
  height: 23rem;
  object-fit:cover;
  box-shadow: 2px 2px 2px 2px rgba(153, 135, 135, 0.3);
  
}


.Recent-Post{
  border-bottom: 1px solid lightgray;


  width:100%;
  height:100%;


} 

.R-P-icons{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 0;
  width: 100%;
}

.RP-visual,.RP-Title{
  width:100%;
}

.RP-visual img{
  width: 100%;
  height: 23rem;
  object-fit:cover;
  box-shadow: 2px 2px 2px 2px rgba(153, 135, 135, 0.3);
  
}

.R-P-Author{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 1.5rem;
}

.R-P-Author p{
white-space: nowrap;

  
}


.Footer-cont h2{
  font-size: 1rem;
  font-weight: 300;
  color: #ffffff;
  width: fit-content;
}
.Footers-links a{
  padding: 0;
  white-space: nowrap;
  font-size: 0.9rem;
  text-decoration: none;
  margin-left: 0.5rem;
}

.F-icon{
  border: 1px solid #ffffff;
  margin-left:3px;
  border-radius: 50%;
  padding: 0;
}
.F-icon img{
  width:7dvw;
  cursor: pointer;
  height:1.5rem;
}






  









}