*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'ClashDisplay';


}

@font-face {
  font-family: 'ClashDisplay';
  src: url(./Fonts/ClashDisplay-Bold.otf);
  font-weight: bold;

}
@font-face {
  font-family: 'ClashDisplay';
  src: url(./Fonts/ClashDisplay-Regular.otf);
  font-weight:normal;

}

body{
  height: 100dvh;
}

header {
  background-color: #032703;
  color: white;
  text-align: center;
  padding: 20px;
}

h1 {
  font-size: 2rem;
}

.container {
  max-width: 800px;
  margin: 15px auto;
  background-color: white;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  text-align: center;
}

p {
  font-size: 1rem;
  margin-bottom: 1rem;
}
span{
  font-size: 1.2rem;
  font-style: italic;
  font-weight: 500;

}

.apply-button {
  background-color:#666600;
  color: white;
  border: none;
  padding: 0.4rem 1rem;
  font-size: 20px;
  cursor: pointer;
  text-decoration: none;
  transition: background-color 1s ;
  border-radius: 0.1rem;
}

.apply-button:hover {
  background-color: #001900;
}

#sign-up-button , #sign-in-button{
  width: 48%;
  padding: 10px;
  background-color: #b8ccb8;
  color: #666666;
  border: none;
  border-radius: 0.24rem;
  cursor: pointer;

}

/* The snackbar - position it at the bottom and in the middle of the screen */
#apply-form{
  visibility: hidden; 
  width: 450px;
  margin-left: -125px; 
  background-color:#38540b;
  color: #ffffff;
  text-align: center;
  border-radius: 2px; 
  padding: 1rem; 
  position: fixed; 
  z-index: 1; 
  left: 45%; 
  top: 14.8rem;
  
}

/* Show the snackbar when clicking on a button */
#apply-form.show{
  visibility: visible; 


   animation: fadein 0.4s;


}


@keyframes fadein {
  from {top: 0; opacity: 0;}
  to {top: 14rem; opacity: 1;}
}



.Gt-logo a{
  text-decoration: none;
  color: #ffffff;


}


.Gt-logo i {
  position: absolute;
  right:10px;
  top: 10px;
  font-size: 1.3rem;
  color:#ffffff;
  font-weight: 700;
  cursor: pointer;
  border: 1px solid #032703;
  border-radius: 50%;
 
}


#signup-form{
  margin-top: 0.4rem;
}


.form-group {
  margin-bottom: 1.3rem;
}
.form-group label {
  display: block;
  text-align: left;
  margin-bottom:0.4rem;
}
.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input::placeholder{
  color:#bab4b4;
}
form p {
  margin-top: 0.5rem;
  color: #000000;

}
span a{
  text-decoration: none;
  font-family: 700;
}

.redirect-to-sign-in a{
  color: red;
  font-size: 1rem;
  font-style: italic;
  text-decoration: none;
  margin-left: 5px;
}
.redirect-to-sign-in p{
  line-height: 5rem;
  font-size: 1.1rem;
}










